body {
    background: url(../static/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 150px;
  }
  
  .view {
    display: none;
  }

  table{
    transition: all 2s ease-in-out;
  }