
    body{
        background: url(../static/add.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        background-color: rgb(34, 33, 33);
    }
    h1{
        margin: 40px;
    }


